body {
	background:rgb(252, 216, 55);
	color: #333;
	margin :0px 0px 20px 0px;
	padding: 0px;
	font-weight: bold;
	font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

h1{
	margin :0px;
	padding: 0px;
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#head {
	/* border-left: 1px solid #d4d4d4; */
	/* border-right: 1px solid #d4d4d4; */
	/* border-bottom: 1px solid #d4d4d4; */
	/* background: url(images/bg_head.png) bottom left repeat-x #106eb7; */
	background-color: rgb(50, 50, 169);
	color: #fff;
	/* padding: 20px; */
	/* margin-bottom: 20px; */
}

h2 {
	font-weight: bold;
	margin-bottom: 0.5em;
}

#content{
	font-weight: bold;
	text-align: center;
	margin: 15px 0 25px 0;
	line-height: 3em;
}

.required{
	margin: 0 0 25px 0;
}

#post{
	margin: 25px 0 25px 0;
}

#search{

 margin: 0 0 25px 0;

}

.btn {
	background: rgb(50, 50, 169); /* 背景色 */
	color: #fff; /* 文字色 */
	padding: 16px 40px; /* 上下の余白、左右の余白 */
	text-decoration: none; /* デフォルトで入る下線を消す */
	border-radius: 30px; /* 角を丸くする */
	transition-property: opacity;
    -webkit-transition-property: opacity;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	font-weight: bold;
  }
  .btn:hover {
	opacity: .7;
  }

  #logout{
	position: absolute;
    top: 0;
    right: 0;
  }

  #sama{
	margin :0px 0px 20px 0px;
  }

  .error{
	color :red;
  }

  #setting{
	position: absolute;
    top: 0;
    right: 160px;
  }

  #title{
	color: rgb(50, 50, 169);
  }

	#Davis{
    text-decoration:none; 
	color: #fff;
	}

	#day{
		text-decoration:underline; 
		color: rgb(50, 50, 169);
	}